---
---
$background-color: #f7f7f7;
$key-color: #3f3f3f;
$color: lighten($key-color, 20%);

html { -webkit-text-size-adjust: 100%; } // TODO: What is this for exactly? I don't recall.

body {
    background-color: $background-color;
    color: $color;
    font-family: sans-serif;
    line-height: 24px;
    margin: 0 auto;
    padding: 20px;
    width: 540px; // TODO: Does this include the padding?
    header, footer { text-align: center; }
}

em, i { font-style: italic; }
strong, b { font-weight: bolder; }
a { color: $key-color; text-decoration: none; }

p, td { font-size: 19px; .sc { font-size: 14px; text-transform: uppercase; } }
h3 { font-size: 13px; text-transform: uppercase; }
h2 { font-size: 18px; text-align: center; margin-top: 24px; margin-bottom: 24px; font-style: italic; .sc { font-size: 16px; text-transform: uppercase; } }
h1 { font-size: 20px; font-weight: bold; margin: 24px 0; }

//
// Layout
//
$site-padding: 10px; // Ie, to the left and right of the body.
$site-width: 960px + $site-padding * 2; // The 'scroll width' of the site.
$content-inset: 240px;
$content-inset-gutter: 22px;
section {
    margin: 96px 0;
}

//
// Typography
//
.TextHeadline1  { font-size: 36px; line-height: 44px; font-weight: lighter; }
.TextHeadline2  { font-size: 22px; line-height: 22px; }
.TextBody       { font-size: 18px; line-height: 22px; }
.TextFootnote   { font-size: 14px; line-height: 22px; }

h1 { @extend .TextHeadline1; }
h2 { @extend .TextHeadline2; }
//p { @extend .TextBody; }
footer p { @extend .TextFootnote; }


//
// Misc
//
.GalleryContainer {
    background-color: darken($background-color, 3%);
    line-height: 0;
    font-size: 0;
    .ImageView {
        visibility: hidden;
        position: absolute;
        width: 540px;
        height: 540px;
    }
}
.ColumnContainer {
    font-size: 0;
}
.LeftColumn {
    display: inline-block;
    width: 270px;
    vertical-align: top;
}
.RightColumn {
    display: inline-block;
    width: 270px;
    vertical-align: top;
}