---
---
$key-color: #524fa1;
$color: darken(desaturate($key-color, 100%), 7%);
$light-color: lighten($color, 30%);
$background-color: #f7f7f7;

$padding: 10px;
$gutter: 40px;
$site-width: 640px + $padding * 2;
$content-width: $site-width - $padding * 2;

//
// Typography
//
.TextPiano      { font-size: 14px; line-height: 17px; }
.TextMezzoPiano { font-size: 20px; line-height: 26px; }
.TextMezzoForte { font-size: 25px; line-height: 30px; }
.TextForte      { font-size: 36px; line-height: 42px; }
.TextFortissimo { font-size: 48px; line-height: 68px; font-weight: 100; }
body { font-family: "Lato", sans-serif; color: $color; }
em, i { font-style: italic; }
strong, b { font-weight: bolder; }
a { color: $key-color; text-decoration: none; }

//
// Layout
//
.FullColumn { width: 100%; }
.LeftColumn { width: $content-width / 2 - $gutter / 2; padding-right: $gutter / 2; float: left; }
.RightColumn { width: $content-width / 2 - $gutter / 2; padding-left: $gutter / 2; float: right; clear: right; }
.Clear { content: ""; display: block; clear: both; }
body {
    width: $content-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $padding;
    padding-right: $padding;
}
body > header { margin-top: 80px; margin-bottom: 80px; }
body > header > hgroup > h1 { text-align: center; }
body > header > hgroup > h2 { text-align: center; @extend .TextMezzoPiano; margin-top: 20px; }
body > footer { padding-top: 80px; padding-bottom: 40px; }
body > main > section { margin-top: 40px; }
body > main > section:after { @extend .Clear; }
body > main > section > h1 { @extend .LeftColumn; @extend .TextForte; text-align: right; }
body > main > section > p { @extend .RightColumn; @extend .TextMezzoForte; }
body > main > section > p + p { margin-top: 10px; }
body > main > section > table { @extend .RightColumn; @extend .TextMezzoPiano; }

//
// Misc
//
body { background-color: $background-color }

