/*
  Style.css
  ESWebsite

  Created by Raphael Schindler on 2017-03-15
*/

/* Layout */

body { width: 542px; box-sizing: border-box; margin: 24px auto; }
body > header { padding: 72px 24px 24px 24px; }
body > header h1 { margin: 0; }
body > main   { padding: 24px; border-left: 1px solid rgba(0, 0, 0, 0); border-right: 1px solid rgba(0, 0, 0, 0); }
body > footer { padding: 18px 18px 18px 18px; }

/* Colour */

/*html { background: center / 64px url("/assets/damask-pattern-b.png"); background-clip: border-box; }*/
html { background-color: white; }
body { background-color: white; color: #727272; /*border-color: rgba(63, 63, 63, 0.25);*/ }
body > main { background-color: white; border-color: rgba(0, 0, 0, 0.25); }
body > header { background: center / 64px url("/assets/damask-pattern-a.png"); box-shadow: inset 0 0 32px 0px rgba(0, 0, 0, 0.05), inset 0 0 4px 0 rgba(0, 0, 0, 0.25); }
body > footer { background: center / 64px url("/assets/damask-pattern-a.png"); box-shadow: inset 0 0 32px 0px rgba(0, 0, 0, 0.05), inset 0 0 4px 0 rgba(0, 0, 0, 0.25); }

/* Typography */

body { font-family: sans-serif; }

p, td, blockquote, ol, ul, li, h1, h2, h3 { line-height: 24px; }
p, td, blockquote, ol, ul, li, h3 { font-size: 16px; }
h1 { font-size: 21px; }
h2 { font-size: 16px; text-transform: uppercase; text-align: center; }
h3 { font-weight: bold; }
p, blockquote, ol, ul, h3 { margin: 24px 0; }
h1 { margin: 120px 0 48px 0; }
h2 { margin: 24px 0; }
h3 { margin: 24px 0 -24px 0; }

em, i { font-style: italic; }
strong, b { font-weight: bold; }
a { text-decoration: none; }

p { line-height: 24px; font-size: 16px; }
body > footer p { line-height: 18px; font-size: 12px; margin: 18px 0 0 0; }

/* Misc */

body { line-height: 0; font-size: 0; }
html { -webkit-text-size-adjust: 100%; /* What is this for?---I forgot. */ }

.gallery-container { margin-left: -24px; margin-right: -24px; text-align: center; }
.gallery-container .thumbnail { display: inline-block; width: 92px; opacity: 0.8; margin: 4px; }

iframe[special-map] { margin-left: -25px; margin-right: -24px; }
[center-aligned] { text-align: center; }
[with-double-height-margins] { margin-top: 48px; margin-bottom: 48px; }
[without-top-margin] { margin-top: 0; }
[without-vertical-margins] { margin-top: 0; margin-bottom: 0; }
[horizontally-centered] { margin-left: auto; margin-right: auto; }
img[logo] { width: 360px; }
img[feature] { width: 540px; margin: -24px -24px 0 -24px; }




a {
  color: #3f3f3f;
  text-decoration: none; }

p {
  line-height: 24px;
  font-size: 16px; }
  p .sc {
    font-size: 14px;
    text-transform: uppercase; }

td {
  line-height: 24px;
  font-size: 16px; }
  td .sc {
    font-size: 14px;
    text-transform: uppercase; }

li {
  line-height: 24px;
  font-size: 16px;
  margin: 0; }
  li .sc {
    font-size: 14px;
    text-transform: uppercase; }

body > header {
  text-align: center;
}
    
  body > header nav {
    line-height: 23px;
    font-size: 15px;
    text-transform: uppercase; }
    
  body > header nav a, body > header nav #selected {
    margin: 0 6px; }
    
  body > header nav #selected {
    color: #727272;
    border-bottom: 4px solid #b7b7b7; }



/*.centering {
  text-align: center; }

.centered {
  margin-left: auto;
  margin-right: auto; }

.one-line-above {
  padding-top: 24px; }

.no-margin-top {
  margin-top: 0; }

.ColumnContainer {
  font-size: 0; }

.LeftColumn {
  display: inline-block;
  width: 270px;
  vertical-align: top; }

.RightColumn {
  display: inline-block;
  width: 270px;
  vertical-align: top; }

*/