/*
  Style.css
  ESWebsite

  Created by Raphael Schindler on 2017-03-15
*/

/* Layout */

body { width: 540px; border: 1px; margin: 23px auto; }

/* Colour */

html { background-color: #f3f3f3; background: center url("/assets/damask-pattern.png"); }
body { background-color: #f3f3f3; color: #727272; border-color: #bfbfbf; box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }
main { box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }

/* Typography */

body { font-family: sans-serif; }
em, i { font-style: italic; }
strong, b { font-weight: bold; }


/* Misc */

body { line-height: 0; font-size: 0; }
html { -webkit-text-size-adjust: 100%; /* What is this for?---I forgot. */ }


a {
  color: #3f3f3f;
  text-decoration: none; }

p {
  line-height: 24px;
  font-size: 16px;
  margin: 24px 24px 0 24px; }
  p .sc {
    font-size: 14px;
    text-transform: uppercase; }

td {
  line-height: 24px;
  font-size: 16px; }
  td .sc {
    font-size: 14px;
    text-transform: uppercase; }

li {
  line-height: 24px;
  font-size: 16px;
  margin: 0; }
  li .sc {
    font-size: 14px;
    text-transform: uppercase; }

h1 {
  line-height: 24px;
  font-size: 17px;
  margin: 72px 0 24px 0; }
  h1 .sc {
    font-size: 15px;
    text-transform: uppercase; }

h2 {
  line-height: 24px;
  font-size: 15px;
  margin: 24px 0 0 0;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center; }

h3 {
  line-height: 24px;
  font-size: 18px;
  margin: 24px 0 0 0;
  font-weight: lighter; }

body > header {
  padding: 48px 0 0 0;
  text-align: center;
  border-bottom: 1px solid #afafaf; }
  body > header h1 {
    line-height: 0;
    margin: 0; }
  body > header nav {
    line-height: 23px;
    font-size: 15px;
    text-transform: uppercase; }
    body > header nav a, body > header nav #selected {
      margin: 0 6px; }
    body > header nav #selected {
      color: #727272;
      border-bottom: 4px solid #b7b7b7; }

body > main {
  margin: 24px 0; }

body > footer {
  margin: 0 0 18px 0;
  padding: 0 18px;
  border-top: 1px solid #afafaf; }
  body > footer p {
    line-height: 18px;
    font-size: 12px;
    margin: 18px 0 0 0; }

.gallery-container .thumbnail {
  opacity: 0.8; }

.centering {
  text-align: center; }

.centered {
  margin-left: auto;
  margin-right: auto; }

.one-line-above {
  padding-top: 24px; }

.no-margin-top {
  margin-top: 0; }

.ColumnContainer {
  font-size: 0; }

.LeftColumn {
  display: inline-block;
  width: 270px;
  vertical-align: top; }

.RightColumn {
  display: inline-block;
  width: 270px;
  vertical-align: top; }

