---
---
$background-color: #f7f7f7;
$key-color: #4e42bd;
$color: darken(desaturate($key-color, 100%), 7%);

//
// Typography
//

html { font-size: 10px; }
body {
  font-family: 'Lato', sans-serif;
  color: $color;
  background-color: $background-color;
}
p { font-family: 'Lato', sans-serif; }
em, i { font-style: italic }
b, strong { font-weight: bolder }
a { color: $key-color; text-decoration: none }
h1 { font-size: 4.6rem; line-height: 5.2rem; margin-top: 6.6rem }
h2 { font-size: 3.2rem; line-height: 3.8rem; margin-top: 4.4rem }
h3 { font-size: 2.0rem; line-height: 2.6rem; margin-top: 2.2rem; font-weight: bolder }
p {  font-size: 2.3rem; line-height: 2.9rem; margin-top: 2.3rem }
header {
  background-color: $background-color;
}
main {
  background-color: $background-color;
}
footer {
  background-color: darken($background-color, 5%);
  height: 100%;
}

.RestrainedContainer { // (Ie restrained *horizontally*.)
  max-width: 980px;
  padding-left: 40px;
  padding-right: 40px;
}

.UnrestrainedContainer { // (Ie unrestrained *horizontally*.)
  max-width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  font-size: 0; /* To remove gaps. */
  background-color: darken($background-color, 30%);
}

.RoomAbove {
  margin-top: 60px;
}

.RoomBelow {
  margin-bottom: 60px;
}

