/* Layout */

body {
  min-width: 240px; max-width: 542px;
  margin: 24px auto;
  box-sizing: border-box; }

main, section {
  border-top: 1px solid transparent; border-bottom: 1px solid transparent; }

main {
  padding: 24px 0; }

body footer { padding: 18px; }



/* The gallery */


.gallery-menu-container {
  text-align: center; }

.gallery-menu {
  display: inline-block;
  margin-top: 72px; }

.gallery-menu a {
  cursor: pointer;
  padding: 2px;
  border-bottom: 2px solid transparent; }

.gallery-menu a.selected {
  cursor: auto;
  color: #727272;
  border-color: #AFAFAF; }

.container-container {
  position: relative;
  overflow: hidden; }

.gallery {
  display: inline-block;
  width: 100%; }

.gallery-table {
  display: table;
  width: 100%;
  border-spacing: 4px;
  table-layout: fixed; }

.gallery-table > .row {
  display: table-row; }

.gallery-table > .row > div {
  display: table-cell; }

.gallery-table > .row > div > img {
  width: 100%;
  opacity: 0.8; }

.overlay {
  position: fixed;
  width: 100%; height: 100%; left: 0; top: 0;
  background-color: black;
  opacity: 0; }

/* The hours table */

.hours-table-container {
  padding: 24px 0 0 0; }

.hours-table {
  display: table;
  width: 100%;
  border-spacing: 4px;
  table-layout: fixed; }

.hours-table > .row {
  display: table-row; }

.hours-table > .row .hours {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 120px;
  line-height: 24px;
  font-size: 18px; }

.hours-table > .row .weekend {
  background-color: rgba(0, 0, 0, 0.09); }

.hours-table > .row .weekday {
  background-color: rgba(0, 0, 0, 0.04); }

.hours-table > .row .day {
  display: table-cell;
  text-align: center;
  line-height: 24px;
  font-size: 16px; }

/* --- */

div.full-width-img {
  margin: 4px; }

div.full-width-img img {
  width: 100%; }

p.full-width {
  padding-left: 0; padding-right: 0;
  margin-left: 0; margin-right: 0; }



/* Colour */


html {
  background-color: #EFEFEF; }

body {
  background-color: #EFEFEF;
  color: #727272; }

body > header {
  border-top: 1px solid #afafaf;
  border-left: 1px solid #afafaf;
  border-right: 1px solid #afafaf; }

body > main {
  background-color: white;
  border: 1px solid #afafaf; }

body > footer {
  border-left: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf; }

a {
  color: #b73621; }



/* Typography */


body { line-height: 0; font-size: 0; }
body { font-family: sans-serif; }

p, nav, td, .tab {
  line-height: 24px;
  font-size: 16px; }

p {
  margin: 18px 24px; }

p.featured {
  margin: 36px 48px;
  text-align: center; }

h2 {
  line-height: 24px;
  font-size: 22px;
  margin: 72px auto 30px auto; }

.root-tab-row p {
  font-size: 14px;
  line-height: 14px;
  padding: 4px;
  letter-spacing: -0.5px;
  text-transform: uppercase; }

  

p, td, blockquote, ol, ul, li, h1, h2, h3 { line-height: 24px; }
p, td, blockquote, ol, ul, li, h3 { font-size: 16px; }
h1 { font-size: 21px; }
h2 { font-size: 16px; text-transform: uppercase; text-align: center; }
h3 { font-weight: bold; }
h1 { margin: 120px 0 48px 0; }
h3 { margin: 24px 0 -24px 0; }

em, i { font-style: italic; }
strong, b { font-weight: bold; }
a { text-decoration: none; }

p { line-height: 24px; font-size: 16px; }
body footer p { line-height: 18px; font-size: 12px; margin: 18px 0 0 0; }



/* Misc */



.tab-row * {
  margin: 0; }

.tab-row {
  display: block;
  text-align: center; }

.tab-row .tab {
  display: inline-block;
  margin: 0 4px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.5px;
  text-transform: uppercase; }

.tab-row .selected {
  border-bottom: 3px solid #AFAFAF; }

html { -webkit-text-size-adjust: 100%; /* What is this for?---I forgot. */ }

[center-aligned] { text-align: center; }
[with-double-height-margins] { margin-top: 48px; margin-bottom: 48px; }
[without-top-margin] { margin-top: 0; }
[without-vertical-margins] { margin-top: 0; margin-bottom: 0; }
[horizontally-centered] { margin-left: auto; margin-right: auto; }

hr {
  border: 0; border-bottom: 1px solid #AFAFAF; }

td {
  line-height: 24px;
  font-size: 16px; }

li {
  line-height: 24px;
  font-size: 16px;
  margin: 0; }

body header {
  text-align: center; }
